In [1]:
#data wrangling
import pandas as pd

#datetime
import datetime as dt

In [2]:
# load sheet Transactions trong file KPMG và in ra 5 dòng đầu tiên

In [3]:
# in ra info bảng

In [4]:
# describe default

In [5]:
# describe các biến object

In [6]:
#describe all

In [7]:
# count số dòng bị null ở mỗi cột

# 1. Data Correction

## 1.1 Drop NA

In [8]:
# tạo bảng df_dropna_all bằng cách loại bỏ tất cả giá trị null trong bảng và in ra info

In [9]:
# tạo bảng df_dropna_online_order bằng cách loại bỏ giá trị null trong cột online_order và in ra info

## 1.2 Fill NA

In [10]:
# fill tất cả NA bằng 0, lưu vào bảng df_fillna_0 và in ra info

In [11]:
# fill NA bằng ffill, lưu vào bảng df_fillna_ffill và in ra info

In [12]:
# fill NA bằng bfill, lưu vào bảng df_fillna_bfill và in ra info

## 1.3. Assess Categorial Data

In [13]:
# load sheet Demographic và hiển thị top head

In [14]:
# in ra info bảng

In [15]:
# describe các giá trị object

In [16]:
# Remove all NA row

In [17]:
# In ra các giá trị unique của cột gender

In [18]:
# Quy chuẩn cột Gender về 2 nhóm Male và Female, Unisex và in ra giá trị unique mới

In [19]:
# Tính tuổi của mỗi khách hàng và lưu vào cột "Age" và in ra min age, max age

In [20]:
# phân nhóm khách hàng dưới 35 tuổi là nhóm "Young", Từ 36 - 55 là "Middle", trên 55 là Older
# lưu vào cột "Age_Group" bằng cách sử dụng hàm cut

# 2. Data Completeness

In [21]:
#join data sale vs demographic và in ra những trường hợp missing trong demographic

# 3. Data Aggregation

In [22]:
# tính tổng khách hàng bằng hàm nunique

In [23]:
# Tính số khách khách hàng mỗi tháng
# hint 1: tạo collum year_month bằng hàm dt.strftime
# hint 2: group by year_month và nunique

In [24]:
# Tính Gross magin của mỗi tháng. Gross magin = list_price - standard_cost
# hint 1: tạo collum Gross_Margin
# hint 2: group by year_month và sử dụng hàm agg

In [25]:
# Tính số lượng order và doanh thu group by online_order và order_status 
# hint 1: group by online_order, order_status và sử dụng hàm agg

# 4. Data Visualization

In [26]:
# Sử dụng seaborn và vẽ ra 5 loại chart khác nhau (column, line, box,...) với đầy đủ tên chart, tên các trục và chú thích.